/* .courses {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 80px;
    padding: 100px 80px;
}

.grid {
    display: grid;
    width: 100em;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 0.9fr));
    align-items: start;
}

.grid-item {
    background-color: white;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-header {
    font-size: 2.1rem;
    font-weight: lighter;
    color: #0d0d0d;
    margin-top: 10px;
}

.level {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 85px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: #3d3d3d;
    margin-bottom: 0.3rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    text-transform: uppercase;
}

.card-btn span {
    margin-left: 0.6rem;
    transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
    background-color: #e7e2ca;
}

.card-btn:hover span,
.card-btn:active span {
    margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
    .courses-body {
        padding: 3rem;
    }

    .grid {
        grid-gap: 3rem;
    }
} */

.courses {
    margin: 0;
    padding: 0;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    margin-left: 50px;
}

.container-courses {
    width: 420px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container-courses .card-courses {
    position: relative;
    border-radius: 10px;
}

.container-courses .card-courses .face {
    width: 380px;
    height: 270px;
    transition: 0.5s;
}

.container-courses .card-courses .face img {
    width: 380px;
    height: 230px;
    transition: 0.5s;
}

.container-courses .card-courses .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(140px);
}

.container-courses .card-courses:hover .face img {
    transform: translateY(50px);
}

.container-courses .card-courses:hover .face.face1{
    transform: translateY(0px);
}

.container-courses .card-courses .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container-courses .card-courses:hover .face.face1 .content {
    opacity: 1;
}

.container-courses .card-courses .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-80px);
}

.container-courses .card-courses:hover .face.face2{
    transform: translateY(0);
}

.container-courses .card-courses .face.face2 .content p {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: #414141;
    font-size: 14px;
    visibility: hidden;
}

.container-courses .card-courses:hover .face.face2 .content p {
    margin: 0;
    padding-top: 60px;    
    text-align: center;
    color: #414141;
    font-size: 15px;
    visibility: unset;
}

.container-courses .card-courses .face.face2 .content .course-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-courses .card-courses:hover .face.face2 .content .course-name {
    visibility: hidden;
}



/* .course-name {
    position: absolute;
    align-items: center;
    justify-content: center;
} */

/* .courses-header {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: -700px;
} */