html {
    box-sizing: border-box;
  }

  .row{
    justify-content: center;
    padding: 20px 20px;
  }

  .column {
    float: left;
    width: 340px;
    margin-bottom: 16px;
    padding: 40px 100px;
    margin-top: 30px;
    margin-left: 50px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  h1{
      text-align: center;
      padding-top: 140px;
      color: #574d33;
  }

  h2{
    text-align: center;
    font-size: 21px;
    margin-top: -25px;
  }

  .image{
      max-height: 520px;
      width: 310px;
      padding-left: 10px;
      padding-top: 10px;
  }

  .team-card {
    box-shadow: 2px 6px 12px 7px rgba(0, 0, 0, 0.2);
    background-color:transparent;
    height: 560px;
    width: 320px;
  }
  
  .container {
    padding: 30px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
    margin-top: -20px;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 10%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 17px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }