* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Shippori Mincho B1', serif;
}

html{
    background: url(./homebg.jpg);
}

/* .team, .courses, .packages, .schedule, .login{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} */

